body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.container {
    display: flex;
    margin-left: 20px;
}

.tomato {
    color: tomato;
}

.btn-color {
    color: tomato;
}

.hero {
    width: 100%;
}

.hero img {
    width: 50%;
}